

@model IEnumerable<isTakipSistemiMvc.Models.birimler>

@{
    ViewBag.Title = "Birim";
    Layout = "~/Views/Shared/_LayoutSistemYoneticisi.cshtml";
}

<p class="mt-5">
    @Html.ActionLink("Yeni Birim Ekle", "Olustur", new { }, new {@class="btn btn-primary"})
</p>

<table class="table table-bordered table-striped table-dark">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model=>model.birimAd)@* displaynamefor sütun adını getirir*@
        </th>
        <th></th>
        <th></th>

    </tr>
    @foreach(var item in Model)
            {
<tr class="text-center">
    <td>
        @Html.DisplayFor(modelItem => item.birimAd)@*displayfor ise içeriyi getirir.*@
    </td>
    <td>
        @Html.ActionLink("Güncelle", "Guncelle", new { id = item.birimId }, new { @class = "btn btn-success" })
    </td>
    <td>
        @Html.ActionLink("Sil", "Sil", new { id = item.birimId }, new { @class = "btn btn-danger" })
    </td>



</tr>

            }
</table>